<div class="row">
    <!--  Tasks -->
    <!-- Backlog -->
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>Backlog</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Task Title</h4>
                <p>This is a task description</p>
                <p><i class="fa fa-sticky-note-o"></i> Project B &nbsp;&nbsp;<i class="fa fa-calendar"></i> 11/04/15</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Task Title</h4>
                <p>This is a task description</p>
                <p><i class="fa fa-sticky-note-o"></i> Project A &nbsp;&nbsp;<i class="fa fa-calendar"></i> 11/04/15</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Task Title</h4>
                <p>This is a task description</p>
                <p><i class="fa fa-sticky-note-o"></i> Project C &nbsp;&nbsp;<i class="fa fa-calendar"></i> 11/04/15</p>
            </div>
        </div>
    </div>

    <!-- In-Progress -->
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>In-Progress</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Task Title</h4>
                <p>This is a task description</p>
                <p><i class="fa fa-sticky-note-o"></i> Project A &nbsp;&nbsp;<i class="fa fa-calendar"></i> 11/04/15</p>
            </div>
        </div>
    </div>

    <!-- Complete -->
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>Complete</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Task Title</h4>
                <p>This is a task description</p>
                <p><i class="fa fa-sticky-note-o"></i> Project A &nbsp;&nbsp;<i class="fa fa-calendar"></i> 11/04/15</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Task Title</h4>
                <p>This is a task description</p>
                <p><i class="fa fa-sticky-note-o"></i> Project B &nbsp;&nbsp;<i class="fa fa-calendar"></i> 11/04/15</p>
            </div>
        </div>
    </div>

    <!-- Left column used for minor things -->
    <div class="col-md-3 col-sm-3 col-xs-12">

        <!-- Recent Activity -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Activity</h3>
                <div class="list-group">
                  <li class="list-group-item">Sally added a new task</li>
                  <li class="list-group-item">Task 7 marked as complete</li>
                  <li class="list-group-item">Task 7 due date changed</li>
                  <li class="list-group-item">More . . .</li>
                </div>
            </div>
        </div>

        <!-- Projects -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3>Projects</h3>
                <div class="list-group">
                  <a href="#" class="list-group-item">Project A</a>
                  <a href="#" class="list-group-item">Project B</a>
                  <a href="#" class="list-group-item">Project C</a>
                  <a href="#" class="list-group-item">More . . .</a>
                </div>
            </div>
        </div>

    </div>

</div>
