<div class="row">
    <!--  Tasks -->
    <!-- Backlog -->
    <div class="col-md-3 col-sm-3 col-xs-12" ng-model='backlog'>
        <h3>Backlog</h3>
        <div class="panel panel-default" ng-repeat="task in backlog">
            <div class="panel-body">
                <h4>{{task.title}}</h4>
                <p><i class="fa fa-sticky-note-o"></i> {{task.project}} &nbsp;&nbsp;<i class="fa fa-calendar"></i> {{task.due}}</p>
            </div>
        </div>
    </div>

    <!-- In-Progress -->
    <div class="col-md-3 col-sm-3 col-xs-12" ng-model='inprogress'>
        <h3>In-Progress</h3>
        <div class="panel panel-default" ng-repeat="task in inprogress">
            <div class="panel-body">
                <h4>{{task.title}}</h4>
                <p><i class="fa fa-sticky-note-o"></i> {{task.project}} &nbsp;&nbsp;<i class="fa fa-calendar"></i> {{task.due}}</p>
            </div>
        </div>
    </div>

    <!-- Complete -->
    <div class="col-md-3 col-sm-3 col-xs-12" ng-model='complete'>
        <h3>Complete</h3>
        <div class="panel panel-default" ng-repeat="task in complete">
            <div class="panel-body">
                <h4>{{task.title}}</h4>
                <p><i class="fa fa-sticky-note-o"></i> {{task.project}} &nbsp;&nbsp;<i class="fa fa-calendar"></i> {{task.due}}</p>
            </div>
        </div>
    </div>

    <!-- Left column used for minor things -->
    <div class="col-md-3 col-sm-3 col-xs-12">

        <!-- Recent Activity -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" ng-model="activity">
                <h3>Activity</h3>
                <div class="list-group">
                  <li class="list-group-item" ng-repeat="activity in activities">{{activity.title}}</li>
                </div>
            </div>
        </div>

        <!-- Projects -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" ng-model="projects">
                <h3>Projects</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="project in projects">{{project.title}}</a>
                </div>
            </div>
        </div>

    </div>

</div>
