<div class="row">

    <!-- Backlog -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="column">
            <h2 class="column-heading-red">backlog</h2>
            <!-- All of the backlog tasks (with drag and drop) -->
            <div id="backlog" class="kanban" ng-model='backlog' ui-sortable="sortableOptions">
                <!-- Task card -->
                <div class="card draggable" ng-repeat="task in backlog">
                    <h3>
                        <a title="{{task.name}}" ui-sref="task({id: task._id})">{{task.name}}</a>
                        <a class="red pull-right" title="delete task" href="" ng-click="deleteTask(task._id)"><i class="fa fa-close"></i></a>
                    </h3>
                    <p>
                        <!-- Will need to fix overflow with CSS later with this:
                             http://stackoverflow.com/questions/22978990/bootstrap-3-table-overflow-out-of-panel -->
                        <i class="fa fa-clone"></i> <a title="{{task.projectName}}" ui-sref="project({id: task.project})">{{task.projectName}}</a>
                        &nbsp;&nbsp;
                        <i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- In-Progress -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="column">
            <h2 class="column-heading-yellow">in-progress</h2>
            <!-- All of the in-progress tasks (with drag and drop) -->
            <div id="in-progress" class="kanban" ng-model='inprogress' ui-sortable="sortableOptions">
                <!-- Task card -->
                <div class="card draggable" ng-repeat="task in inprogress">
                    <h3>
                        <a title="{{task.name}}" ui-sref="task({id: task._id})">{{task.name}}</a>
                        <a class="red pull-right" title="delete task" href="" ng-click="deleteTask(task._id)"><i class="fa fa-close"></i></a>
                    </h3>
                    <p>
                        <i class="fa fa-clone"></i> <a title="{{task.projectName}}" ui-sref="project({id: task.project})">{{task.projectName}}</a>
                        &nbsp;&nbsp;
                        <i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Complete -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="column">
            <h2 class="column-heading-blue">complete</h2>
            <!-- All of the backlog tasks (with drag and drop) -->
            <div id="complete" class="kanban" ng-model='complete' ui-sortable="sortableOptions">
                <!-- Task card -->
                <div class="card draggable" ng-repeat="task in complete">
                    <h3>
                        <a title="{{task.name}}" ui-sref="task({id: task._id})">{{task.name}}</a>
                        <a class="red pull-right" title="delete task" href="" ng-click="deleteTask(task._id)"><i class="fa fa-close"></i></a>
                    </h3>
                    <p>
                        <i class="fa fa-clone"></i> <a title="{{task.projectName}}" ui-sref="project({id: task.project})">{{task.projectName}}</a>
                        &nbsp;&nbsp;
                        <i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
