<div class="container-fluid">
    <br />
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>tangram</h2>
            <br />
            <p ng-show="badLogin" style="color: red;">Wrong username/password combination</p>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
                </div>
                <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
            </form>
            <br />
        </div>
    </div>
</div>
