<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home"><img alt="Brand" src="https://sites.google.com/site/stoyneff/_/rsrc/1256596028398/exterior/b3b4-passat-color-codes/TitaniumGray-LB7U.png"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home" title="Launch Pad"><i class="fa fa-rocket"></i></a></li>
        <li><a ui-sref="home" title="Projects"><i class="fa fa-sticky-note"></i></a></li>
        <li><a ui-sref="user" title="Settings"><i class="fa fa-cog"></i></a></li>
    </ul>
</div>
