<div class="container-fluid">
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="nav-logo">
                <a href="" title="tangram" ui-sref="home">
                    <div id="square" />
                </a>
            </div>
            <h1 class="nav-title">{{$root.pageTitle | lowercase}}</h1>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="nav-links">
                <a ui-sref="home" title="personal kanban"><i class="fa fa-bars fa-rotate-90"></i></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a ui-sref="projects" title="projects"><i class="fa fa-briefcase"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a ui-sref="user" title="settings"><i class="fa fa-cog"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" ng-click="logout()" title="log out"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>
</div>
