<div class="container-fluid">
    <div class="navbar-header pull-left">
        <div class="navbar-brand"><a href="" ui-sref="home"><div id="square" /></a><span style="color: black; font-weight: 700; font-size: 1.5em;">&nbsp;&nbsp;personal kanban</span>&nbsp;</div>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home" title="Launch Pad" style="color: black; font-size: 1.2em;"><i class="fa fa-bars fa-rotate-90"></i></i></a></li>
        <li><a ui-sref="projects" title="Projects" style="color: black; font-size: 1.2em;"><i class="fa fa-briefcase"></i></a></li>
        <li><a ui-sref="user" title="Settings" style="color: black; font-size: 1.2em;"><i class="fa fa-cog"></i></a></li>
        <li><a href="" ng-click="logout()" title="Log Out" style="color: black; font-size: 1.2em;"><i class="fa fa-sign-out"></i></a></li>
    </ul>
</div>
