<div class="row">
  <div class="col-md-12">
      <h4 class="heading-underline-black">project kanban</h4>
  </div>
</div>
<div class="row">
    <!--  Tasks -->
    <!-- Backlog -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <h4 class="heading-background-red">backlog<a class="pull-right" title="new task" style="color: white;" href="" ng-click="switchNewTaskState()"><i class="fa fa-plus"></i></a></h4>
        <div class="card" ng-show="newTaskState">
            <h4>New Task</h4>
            <form style="margin-top: 10px;">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="newTask.name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="description" placeholder="Description (Optional)" ng-model="newTask.description">
                </div>
                <button type="button" class="btn btn-default" ng-click="addTask(newTask);">Add Task</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default" ng-click="switchNewTaskState()">Cancel</button>
            </form>
        </div>
        <div id="Backlog" class="kanban" ng-model='backlog' ui-sortable="sortableOptions">
            <div class="card" ng-repeat="task in backlog">
                <h4><a ui-sref="task({id: task._id})">{{task.name}}</a></h4>
                <p>
                    <!-- Will need to fix overflow with CSS later with this:
                         http://stackoverflow.com/questions/22978990/bootstrap-3-table-overflow-out-of-panel -->
                    <i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}
                </p>
            </div>
        </div>
    </div>

    <!-- In-Progress -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <h4 class="heading-background-yellow">in-progress</h4>
        <div id="In-Progress" class="kanban" ng-model='inprogress' ui-sortable="sortableOptions">
            <div class="card" ng-repeat="task in inprogress">
                <h4><a ui-sref="task({id: task._id})">{{task.name}}</a></h4>
                <p>
                    <!-- Will need to fix overflow with CSS later with this:
                         http://stackoverflow.com/questions/22978990/bootstrap-3-table-overflow-out-of-panel -->
                    <i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}
                </p>
            </div>
        </div>
    </div>

    <!-- Complete -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <h4 class="heading-background-blue">complete</h4>
        <div id="Complete" class="kanban" ng-model='complete' ui-sortable="sortableOptions">
            <div class="card" ng-repeat="task in complete">
                <h4><a ui-sref="task({id: task._id})">{{task.name}}</a></h4>
                <p>
                    <!-- Will need to fix overflow with CSS later with this:
                         http://stackoverflow.com/questions/22978990/bootstrap-3-table-overflow-out-of-panel -->
                    <i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}
                </p>
            </div>
        </div>
    </div>
