<div class="row">
    <!--  Tasks -->
    <!-- Backlog -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <h3>Backlog</h3>
        <div id="Backlog" class="kanban" ng-model='backlog' ui-sortable="sortableOptions">
            <div class="panel panel-default" ng-repeat="task in backlog">
                <div class="panel-body">
                    <h4><a ui-sref="task({id: task._id})">{{task.name}}</a></h4>
                    <p>
                        <!-- Will need to fix overflow with CSS later with this:
                             http://stackoverflow.com/questions/22978990/bootstrap-3-table-overflow-out-of-panel -->
                        <i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- In-Progress -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <h3>In-Progress</h3>
        <div id="In-Progress" class="kanban" ng-model='inprogress' ui-sortable="sortableOptions">
            <div class="panel panel-default" ng-repeat="task in inprogress">
                <div class="panel-body">
                    <h4><a ui-sref="task({id: task._id})">{{task.name}}</a></h4>
                    <p>
                        <!-- Will need to fix overflow with CSS later with this:
                             http://stackoverflow.com/questions/22978990/bootstrap-3-table-overflow-out-of-panel -->
                        <i class="fa fa-sticky-note-o"></i> <a ui-sref="project({id: task.project})">{{task.projectName}}</a>
                        &nbsp;&nbsp;
                        <i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Complete -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <h3>Complete</h3>
        <div id="Complete" class="kanban" ng-model='complete' ui-sortable="sortableOptions">
            <div class="panel panel-default" ng-repeat="task in complete">
                <div class="panel-body">
                    <h4><a ui-sref="task({id: task._id})">{{task.name}}</a></h4>
                    <p>
                        <!-- Will need to fix overflow with CSS later with this:
                             http://stackoverflow.com/questions/22978990/bootstrap-3-table-overflow-out-of-panel -->
                        <i class="fa fa-sticky-note-o"></i> <a ui-sref="project({id: task.project})">{{task.projectName}}</a>
                        &nbsp;&nbsp;
                        <i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}
                    </p>
                </div>
            </div>
        </div>
    </div>
