<div class="row">

    <!-- Backlog -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="column">
            <h2 class="column-heading-red">backlog</h2>
            <!-- All of the backlog tasks (with drag and drop) -->
            <div id="backlog" class="kanban" ng-model='backlog' ui-sortable="sortableOptions">
                <!-- Task card -->
                <div class="card draggable" ng-repeat="task in backlog">
                    <h3><a ui-sref="task({id: task._id})">{{task.name}}</a></h3>
                    <p><i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}</p>
                </div>
            </div>
            <!-- New task dialog (no drag and drop) -->
            <div class="btn-task-wrapper">
                <button type="button" class="btn btn-default btn-block btn-task" ng-hide="newTaskState" ng-click="switchNewTaskState()">New Task</button>
            </div>
            <div class="card" ng-show="newTaskState">
                <h3>New Task</h3>
                <form style="margin-top: 10px;">
                    <!-- Task name -->
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="newTask.name">
                    </div>
                    <!-- Task description -->
                    <div class="form-group">
                        <input type="text" class="form-control" id="description" placeholder="Description (Optional)" ng-model="newTask.description">
                    </div>
                    <button type="button" class="btn btn-default" ng-click="addTask(newTask);">Add Task</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default" ng-click="switchNewTaskState()">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <!-- In-Progress -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="column">
            <h2 class="column-heading-yellow">in-progress</h2>
            <!-- All of the in-progress tasks (with drag and drop) -->
            <div id="in-progress" class="kanban" ng-model='inprogress' ui-sortable="sortableOptions">
                <!-- Task card -->
                <div class="card draggable" ng-repeat="task in inprogress">
                    <h3><a ui-sref="task({id: task._id})">{{task.name}}</a></h3>
                    <p><i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Complete -->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="column">
            <h2 class="column-heading-blue">complete</h2>
            <!-- All of the complete tasks (with drag and drop) -->
            <div id="complete" class="kanban" ng-model='complete' ui-sortable="sortableOptions">
                <!-- Task card -->
                <div class="card draggable" ng-repeat="task in complete">
                    <h3><a ui-sref="task({id: task._id})">{{task.name}}</a></h3>
                    <p><i class="fa fa-calendar"></i> {{task.created | date:'MM/dd/yy'}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
