<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="background-color: #FFF;">
                    <h2 class="column-heading-black">task metrics<a class="pull-right" style="margin-right:5px;" title="burndown chart" href="" ng-click=""><i class="fa fa-area-chart"></i></a></h2>
                    <chartist class="ct-chart" chartist-data="lineData" chartist-chart-options="lineOptions" chartist-chart-type="Line"></chartist>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="column-heading-red big-number" style="margin-bottom: 15px;">
                    <h4>{{backlogCount}}</h4>
                    <h3>backlog</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="column-heading-yellow big-number" style="margin-bottom: 15px;">
                    <h4>{{inprogressCount}}</h4>
                    <h3>in-progress</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="column-heading-blue big-number" style="margin-bottom: 15px;">
                    <h4>{{completeCount}}</h4>
                    <h3>complete</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="column" style="margin-bottom: 15px;">
                    <h2 class="column-heading-black">description</h2>
                    <p style="padding: 10px; margin-bottom: 0px; font-size: 14px;">{{project.description || 'None'}}</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="column" style="margin-bottom: 15px;">
                    <h2 class="column-heading-black">team</h2>
                    <p style="padding: 10px; margin-bottom: 0px; font-size: 14px;" ng-repeat="member in project.memberNames">{{member || 'None'}}</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="column" style="margin-bottom: 15px;">
                    <h2 class="column-heading-black">actions</h2>
                    <div style="padding: 10px;">
                        <button type="button" class="btn btn-default btn-lg btn-block" ui-sref="projectTasks({id: projectId})">view tasks</button>
                        <button type="button" class="btn btn-default btn-lg btn-block btn-warn" style="margin-bottom: 0px;" ng-click="deleteProject(projectId);">delete project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
