<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="background-color: #FFF; padding: 10px;">
                    <h2 class="column-heading">task metrics</h2>
                    <chartist class="ct-chart" chartist-data="lineData" chartist-chart-options="lineOptions" chartist-chart-type="Line"></chartist>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="column-heading-red big-number">
                    <h4>{{backlogCount}}</h4>
                    <h3>backlog</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="column-heading-yellow big-number">
                    <h4>{{inprogressCount}}</h4>
                    <h3>in-progress</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="column-heading-blue big-number">
                    <h4>{{completeCount}}</h4>
                    <h3>complete</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="column" style="margin-bottom: 15px; padding: 10px;">
                    <h2 class="column-heading">description</h2>
                    <p style="margin-bottom: 0px; font-size: 14px;">{{project.description || 'None'}}</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="column" style="margin-bottom: 15px; padding: 10px;">
                    <h2 class="column-heading">owner</h2>
                    <p style="margin-bottom: 0px; font-size: 14px;">{{project.ownerName || 'None'}}</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="column" style="margin-bottom: 15px; padding: 10px;">
                    <h2 class="column-heading">members</h2>
                    <p style="margin-bottom: 0px; font-size: 14px;" ng-repeat="member in project.memberNames">{{member}}</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="column" style="margin-bottom: 15px; padding: 10px;">
                    <h2 class="column-heading">actions</h2>
                    <button type="button" ui-sref="projectTasks({id: projectId})" class="btn btn-default btn-lg btn-block">tasks</button>
                    <button type="button" class="btn btn-default btn-lg btn-block btn-warn" style="margin-bottom: 0px;">delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
