<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12" style="height: 100%;">
        <div class="column">
            <h2 class="column-heading-black">subtasks</h2>
            <div class="card">
                <h3>overview</h3>
                <p><i class="fa fa-calendar"></i> 01/20/94</p>
            </div>
            <div class="card">
                <h3>user content</h3>
                <p><i class="fa fa-calendar"></i> 01/20/94</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="column-heading-red big-number" style="background-color: #EA4335; padding-top: 10px; padding-bottom: 10px; margin-bottom: 15px;">
                    <h4 style="font-size: 35px; padding-bottom: 5px;">{{task.status}}</h4>
                    <h3>status</h3>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="column" style="background-color: #FFF;">
                    <h2 class="column-heading-black">details</h2>
                    <p style="padding: 10px 10px 0px 10px; margin-bottom: 0px; font-size: 14px;"><i class="fa fa-briefcase"></i> project 1</p>
                    <p style="padding: 10px; margin-bottom: 0px; font-size: 14px;"><i class="fa fa-user"></i>&nbsp;&nbsp;{{task.ownerName || 'currently unowned'}}</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="column">
                    <h2 class="column-heading-black">description</h2>
                    <!--<h4>{{task.description || 'no task description'}}</h4>-->
                    <p style="padding: 10px; margin-bottom: 0px; font-size: 14px;">UCS Richard Woodcock building technology setup. This is a sentence related to setting things up. This is another sentence.</p>
                </div>
            </div>
            <!--<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="column" style="background-color: #FFF;">
                    <h2 class="column-heading-black">owner</h2>
                    <p style="padding: 10px; margin-bottom: 0px; font-size: 14px;">{{task.ownerName || 'unowned'}}</p>
                </div>
            </div>-->
        </div>
    </div>
</div>
